<navbar></navbar>
<div class="col-lg-12" *ngIf="isLoggedIn">        
  <button type="button" 
  class="btn btn-primary"
  (click)="doLogout()">
  Logout</button>
</div>
<div class="col-lg-12" *ngIf="!isLoggedIn">
    <button type="button" 
    class="btn btn-primary"
    (click)="doLogin()">
    Login</button>
</div>

<div class="container">
  <div class="row" *ngIf="isLoggedIn">
    <div class="col-md-4">
      <leftbar></leftbar>
    </div>
    <div class="col-md-8">
        <div class="col-md-12">
            <app-pages *ngIf="activePage == 'showPages'"></app-pages>
            <app-media *ngIf="activePage == 'showMedia'"></app-media>
            <app-settings *ngIf="activePage == 'showSettings'"></app-settings>
        </div>
    </div>
  </div>
  <div class="row" *ngIf="!isLoggedIn">
    <div class="col-md-12" style="text-align: center">
    </div>  
  </div>
</div>
<footer></footer>